db:
  adapter: postgresql
  host: localhost
  user: postgres
pagination:
  page_size: 10
app:
  secret: secret
  schema_file_name: 'schema.rb'
  schema_path: <%= File.expand_path("../db", __FILE__) %>
rabbitmq:
  consumer_pool: 10
